@import "bootstrap-sprockets";
@import "bootstrap";
@import "jmenu";
@import "bootstrap3-dropdown";
@import 'autocomplete';
@import "datatables.min";
@import "dataTables.bootstrap.min";

.form-control-complex {
  display: block;
  width: 100%;

  select {
    @extend .form-control;
    display: inline !important;
    width: auto !important;
  }
}

.nested_form {
  margin-bottom: 1.0em;
  padding-bottom: 1.0em;
  border-bottom: 1px solid #e5e5e5;
}

.nested_form_row {
  margin-left: 1.0em;
  padding-bottom: 1.0em;
  margin-bottom: 1.0em;
  border-bottom: 1px solid #e5e5e5;
}

form.CommonFormHelper {
  div.form-group {
    label.required {
      font-weight: bold;
    }

    label.optional {
      font-weight: normal;
      &:after {
        content: ' (Opcional)'
      }
    }
  }

  div.error {
    @extend .alert-danger;
  }
}
